
<div *ngIf="hero">
    <h2>{{hero.name | uppercase}} Details</h2>
  
    <div><span>id: </span>{{hero.id}}</div>
    <div>
      <label>name:</label>
      <input [(ngModel)]="hero.name" placeholder="name">
    </div>
  </div>
  
  <!-- Binding expressions in the template that refer to properties of selectedHero—expressions like {{selectedHero.name}}—must fail because there is no selected hero.
  
  The fix - hide empty details with *ngIf
  The component should only display the selected hero details if the selectedHero exists.
  
  Wrap the hero detail HTML in a <div>. Add Angular's *ngIf directive to the <div> and set it to selectedHero. -->
  
  
  <!-- Refactored code -->
  <!-- <h2>{{hero.name | uppercase}} Details</h2>
  <div><span>id: </span>{{hero.id}}</div>
  <div>
      <label>name:
          <input [(ngModel)] = "hero.name" placeholder="name"/>
      </label>
  </div> -->
  
  <!--[(ngModel)] is Angular's two-way data binding syntax.
  Here it binds the hero.name property to the HTML textbox so 
  that data can flow in both directions: from the hero.name property
   to the textbox, and from the textbox back to the hero.name.-->
